<div class="user-container">
  <div class="devise-name">
    <a id="name-link" href="../../home/index"><h2>new<span id='board-name'>Password</span></h2></a>
  </div>

  <%= devise_error_messages! %>

  <div class="user-form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <!--<%= f.label :password, "New password" %><br />-->
        <% if @minimum_password_length %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)" %>
        <% else %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
        <% end %>
      </div>

      <div class="field">
        <!--<%= f.label :password_confirmation %><br />-->
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: 'submit-button' %>
      </div>
    <% end %>
    
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>