<body class="home-body">
	<div class="home-container">
		<div class="home-wrapper" id="wrapper">
			<div class="cover" id="cover">
				<!-- Navigation -->
				<nav class="nav-bar">
					<div class="name home-name">
						<h2>white<span id='board-name'>Board</span></h2>
					</div>
					<ul class='nav-links'>
						<li><a href='../whiteboards'>Whiteboards</a></li>
						<li><a href='../whiteboards/new'>Create New</a></li>
						<% if current_user %>
						<li><a href=<%= edit_user_registration_path %>><%= @username %></a></li>
						<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
						<% else %>
						<li><a href=<%= new_user_registration_path %>>Sign Up</a></li>
						<li><a href=<%= new_user_session_path %>>Login</a></li>
						<% end %>
					</ul>
				</nav>

				<!-- Showcase -->
				<section class="home-showcase">
					<div class="home-showcase-grid1">
						<h1>Create a whiteboard<br>and start collaborating<br>today!</h1>
						<input id="homeinput" class="homeinput" type="text" spellcheck="false" placeholder="Whiteboard id..."><br>
						<button id="goto-button" class="submit-button">Go to Whiteboard</button>
					</div>
					<div class="home-showcase-grid2">
						<%= image_tag('showcaseimage.png')%>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>

<script>
	$("#goto-button").click(function() {
		var wbpath = document.getElementById('homeinput').value;
		var actualPath = 'http://localhost:3000/whiteboards/' + wbpath;

		$.ajax({
    		type: 'HEAD',
    		url: actualPath,
			success: function() {
        		window.location.assign(actualPath);
			},
			error: function() {
				var obj = document.getElementById('homeinput');
				var origBorder = obj.style.borderBottom;
				var origColor = obj.style.color;
				obj.style.borderBottom = "2px solid red";
				obj.style.color = "red";
				setTimeout(function(){
					obj.style.color = origColor;
					obj.style.borderBottom = origBorder;
   				}, 3000);
			}
		});
	});
</script>