<body class="scroll-for-forms">
  <div class="user-container">
    <div class="devise-name">
      <a id="name-link" href="../home/index"><h2>log<span id='board-name'>In</span></h2></a>
    </div>

    <%= devise_error_messages! %>

    <div class="user-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <!--<%= f.label :email %><br />-->
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", spellcheck: "false" %>
        </div>

        <div class="field">
          <!--<%= f.label :password %><br />-->
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="remember-me">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, id: 'remember-me-label' %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: 'submit-button' %>
        </div>

      <% end %>
    
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>