<div class="user-container">
    <div class="devise-name">
        <a id="name-link" href="../../home/index"><h2>create<span id='board-name'>Whiteboard</span></h2></a>
    </div>

    <div class="user-form">
        <%= form_for @whiteboard do |f| %>
            <div>
                <%= f.hidden_field :creator_email %> 
            </div>
            <div class="field">
                <%= f.text_field :title, placeholder: "Title (max 35 characters)", spellcheck: "false", maxlength: 35 %>
            </div>

            <div class="field">
                <%= f.text_field :description, placeholder: "Description", spellcheck: "false" %>
            </div>

            <div class="field">
                <%= f.number_field :canvas_width, placeholder: "Width (pxs)"%>
            </div>

            <div class="field">
                <%= f.number_field :canvas_height, placeholder: "Height (pxs)" %>
            </div>
            
            <div>
                <%= f.submit "Create", class: 'submit-button' %>
            </div>
        <% end %>
    </div>
</div>